# Experiment 6
## Database connectivity in Python

### a) Write python code to perform CRUD (create, read, update and delete) operations on a database

In [31]:
import mysql.connector as db

def db_connect(server, user, passwd, dbname):
    """Connect to the DB and return the engine and connection objects"""
    try:
        conn = db.connect(host=server, user=user, password=passwd, database=dbname)
        cursor = conn.cursor()
    except db.Error as err:
        print("Couldn't connect to the database:", err)
        return None
    return conn, cursor

def display_table_records(conn, tablename):
    try:
        cursor = conn.cursor()
    except db.Error as err:
        print(err)

    query = "select * from " + tablename
    cursor.execute(query)
    
    for rec in cursor.fetchall():
        print(rec)

In [32]:

# connect to the DB
conn, cursor = db_connect(server = "127.0.0.1", user = "root", passwd = "chinmay", dbname = "test")
print(type(conn))
print(type(cursor))

# employees table
query = "desc restaurant"
cursor.execute(query)
for col in cursor:
    print(col)

# query = 'delete from employees'
# cursor.execute(query)

query = "select * from restaurant"
cursor.execute(query)

print(cursor.fetchall())

cursor.close()

<class 'mysql.connector.connection.MySQLConnection'>
<class 'mysql.connector.cursor.MySQLCursor'>
('s_no', 'int(11)', 'NO', 'PRI', None, '')
('itemname', 'varchar(20)', 'YES', '', None, '')
('rate', 'int(11)', 'YES', '', None, '')
[(1, 'tea', 10), (2, 'coffee', 10), (3, 'cold drink', 20), (4, 'samosa', 10), (5, 'sandwich', 50), (6, 'Dhokla', 30), (7, 'kachori', 10), (8, 'milk', 20), (9, 'noodles', 50), (10, 'pasta', 50), (11, 'sprite', 30), (12, 'noodles', 40), (13, 'bread', 35), (14, 'biscuits', 10), (15, 'butter', 40)]

True

In [33]:
# insert
display_table_records(conn, 'restaurant')

query = "insert into restaurant (s_no, itemname, rate) values (%s, %s, %s)"
rec1 = (11, 'sprite', 30)

cursor = conn.cursor()

try:
    cursor.execute(query, rec1)
except BaseException as e:
    print("Error: ", e)

display_table_records(conn, 'restaurant')

query2 = "insert into restaurant (s_no, itemname, rate) values (%(s_no)s, %(itemname)s, %(rate)s)"
rec2 = {'s_no':12,
        'itemname':'noodles',
        'rate':40
       }

try:
    cursor.execute(query2, rec2)
except BaseException as e:
    print("Error: ", e)

cursor.close()


display_table_records(conn, 'restaurant')

(1, 'tea', 10)
(2, 'coffee', 10)
(3, 'cold drink', 20)
(4, 'samosa', 10)
(5, 'sandwich', 50)
(6, 'Dhokla', 30)
(7, 'kachori', 10)
(8, 'milk', 20)
(9, 'noodles', 50)
(10, 'pasta', 50)
(11, 'sprite', 30)
(12, 'noodles', 40)
(13, 'bread', 35)
(14, 'biscuits', 10)
(15, 'butter', 40)
Error:  1062 (23000): Duplicate entry '11' for key 'PRIMARY'
(1, 'tea', 10)
(2, 'coffee', 10)
(3, 'cold drink', 20)
(4, 'samosa', 10)
(5, 'sandwich', 50)
(6, 'Dhokla', 30)
(7, 'kachori', 10)
(8, 'milk', 20)
(9, 'noodles', 50)
(10, 'pasta', 50)
(11, 'sprite', 30)
(12, 'noodles', 40)
(13, 'bread', 35)
(14, 'biscuits', 10)
(15, 'butter', 40)
Error:  1062 (23000): Duplicate entry '12' for key 'PRIMARY'
(1, 'tea', 10)
(2, 'coffee', 10)
(3, 'cold drink', 20)
(4, 'samosa', 10)
(5, 'sandwich', 50)
(6, 'Dhokla', 30)
(7, 'kachori', 10)
(8, 'milk', 20)
(9, 'noodles', 50)
(10, 'pasta', 50)
(11, 'sprite', 30)
(12, 'noodles', 40)
(13, 'bread', 35)
(14, 'biscuits', 10)
(15, 'butter', 40)

In [35]:
# insert multiple records
value_list = [
    {'s_no':16, 'itemname':'brown bread', 'rate':35},
    {'s_no':17, 'itemname':'oats', 'rate':10},
    {'s_no':18, 'itemname':'jam', 'rate':40}
]

cursor = conn.cursor()
cursor.executemany(query2, value_list)
conn.commit()

display_table_records(conn, 'restaurant')

(1, 'tea', 10)
(2, 'coffee', 10)
(3, 'cold drink', 20)
(4, 'samosa', 10)
(5, 'sandwich', 50)
(6, 'Dhokla', 30)
(7, 'kachori', 10)
(8, 'milk', 20)
(9, 'noodles', 50)
(10, 'pasta', 50)
(11, 'sprite', 30)
(12, 'noodles', 40)
(13, 'bread', 35)
(14, 'biscuits', 10)
(15, 'butter', 40)
(16, 'brown bread', 35)
(17, 'oats', 10)
(18, 'jam', 40)